@charset "UTF-8";

#mm-contact-pane {
	position:relative;
	z-index:9;
	width:240px;
	padding:0 20px 20px 20px;
	margin:20px;
	border:1px solid #000;
	background:#fff;
}

#mm-billing-pane {
	display:none;
	position:relative;
	width:240px;
	z-index:9;
	padding:0 20px 20px 20px;
	margin:20px;
	border:1px solid #000;
	background:#fff;
}

#mm-shipping-pane {
	display:none;
	position:relative;
	width:240px;
	z-index:9;
	padding:0 20px 20px 20px;
	margin:20px;
	border:1px solid #000;
	background:#fff;
}

#mm-loading-pane {
	display:none;
	position:relative;
	width:240px;
	z-index:9;
	padding:0 20px 20px 20px;
	margin:20px;
	border:1px solid #000;
	background:#fff;
}

#mm-response-pane {
	display:none;
	position:relative;
	width:240px;
	z-index:9;
	padding:0 20px 20px 20px;
	margin:20px;
	border:1px solid #000;
	background:#fff;
}

#mm-response-message {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
}

#mm-form-span {
	position:relative;
	width:15em;
	z-index:9;
}

#mm-legend {
	font-family:arial;
	font-style:italic;
	font-size:20px;
	font-weight:bold;
}

.mm-legend {
	font-family:arial;
	font-style:italic;
	font-size:20px;
	font-weight:bold;
}

#mm-label {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	width:90px;
}

.mm-label {
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	text-align:right;
	width:90px;
}

#mm-button {
	font-family:arial;
	font-weight:bold;
	background:#FB5906;
	border:1px;
	padding:5px 0;
	margin:0;
	color:#fff;
	width:97%;
}

#mm-button-td {
	text-align:center;
}

#mm-spacer {
	font-size:8px;
}

#mm-bill_first { border:1px solid #000;margin:2px;width:123px; }
#mm-bill_last { border:1px solid #000;margin:2px;width:123px; }
#mm-bill_address { border:1px solid #000;margin:2px;width:123px; }
#mm-bill_zip { border:1px solid #000;margin:2px;width:123px; }
#mm-bill_phone_2 { border:1px solid #000;margin:2px;width:32px; }
#mm-bill_phone_3 { border:1px solid #000;margin:2px;width:32px; }
#mm-bill_phone_4 { border:1px solid #000;margin:2px;width:43px; }
#mm-bill_email { border:1px solid #000;margin:2px;width:123px; }

#mm-card_type { border:1px solid #000;margin:2px;width:123px; }
#mm-card_number { border:1px solid #000;margin:2px;width:123px; }
#mm-expires_mm { border:1px solid #000;margin:2px;width:55px; }
#mm-expires_yy { border:1px solid #000;margin:2px;width:64px; }
#mm-cvv_code { border:1px solid #000;margin:2px;width:55px; }

#mm-ship_id { border:1px solid #000;margin:2px;width:123px; }
#mm-ship_address { border:1px solid #000;margin:2px;width:123px; }
#mm-ship_zip { border:1px solid #000;margin:2px;width:123px; }

#mm-what-is-it { font-family:arial;font-size:10px;color:#090; }
